<!doctype html>
<html lang="en">
  <head>
    <title>Check-in</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!--Icon for Title-->
    <link rel="icon" href="{{ url_for('static', filename='img/jeep.png') }}" type="image/icon type">


  </head>
  <body>
    <div id="loader"></div>


  <header>

<!--Navbar Section-->

     <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container">
             <a class="navbar-brand" href="{{ url_for('home') }}">
                 <img src="{{ url_for('static', filename='img/jeep.png') }}" width="25" height="25"  alt="logo">
             </a>
             <a class="navbar-brand" href="{{ url_for('home') }}">Welcome back {{ current_user.fname }}</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ml-auto">
               <!-- Shows logged_in -->
               {% if logged_in %}
               {% if current_user.email == 'admin@gmail.com' %}
               <a class="nav-item nav-link" href="{{ url_for('dashboard') }}"
                   >Admin <span class="sr-only">(current)</span></a
               >
               {% endif %}
               <a class="nav-item nav-link" href="/logout"
                   >Sign out <span class="sr-only">(current)</span></a
               >
               {% endif %}
               <!-- Shows if not logged_in -->
               {% if not logged_in %}
               <a class="nav-item nav-link" href="/register"
                   >Register <span class="sr-only">(current)</span></a
               >
               <a class="nav-item nav-link" href="/login"
                   >Login <span class="sr-only">(current)</span></a
               >
               {% endif %}
               <form class="form-inline my-2 my-lg-0" method="post">
                <input class="form-control mr-sm-2" type="search" placeholder="Location..." aria-label="Search" name="location">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
              </form>
              </div>
             </div>

         </div>
     </nav>
</header>


  <!--Login Section-->

  <section class="testimonial pt-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class=" col-md-4 py-4 text-white text-center " >
                <div class="rounded-left " id="left-side">
                    <div class="card-body" >

                    <img src="{{ url_for('static', filename='img/parking.png') }}" width="50" height="50"  alt="logo">

                    <h2 class="pb-5 font-weight-bold" id="sign-head">
                            CHECK-IN
                        </h2>
                        <p class="py-5 font-italic">Bringing tomorrow, today.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-4 border-0">
                <h4 class="pb-4 ">Where do you want to go?</h4>
                {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  {% endif %}
                {% if (locations is defined) and locations %}
                {% for location in locations %}
                <!-- <a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('reserve', location_id=location.id ) }}" style="text-decoration: none; color: white;">{{ location.name }}</a> -->
                <a class="btn btn-secondary btn-lg btn-block" href="{{ url_for('calendar', location_id=location.id)}}" style="text-decoration: none; color: white;">{{ location.name }}</a>
                <!-- <input type="datetime-local" id="{{ location.id }}" name="date_booked" style="margin-bottom: 10px;"> -->
                {% endfor %}
                {% else %}
                <div class="alert alert-danger" role="alert">
                    Location not found!
                  </div>
                {% endif %}
            <div class="go-home py-2 font-italic">
            <a href="{{ url_for('search_by_location', location='ALL') }}" id="seeall">See all locations </a>

            <p>
                 <a class="navbar-brand" href="{{ url_for('home') }}">
                 <img src="{{ url_for('static', filename='img/back.png') }}" width="30" height="30"  alt="logo">
                 </a><small>Go back to <a href="{{ url_for('home') }}" id="signup">Homepage.</small> </a>
             </p>

            </div>

            </div>
  </div>
</div>


        </div>
    </div>
    {% include "feedback.html" %}
</section>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script?>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Custom js -->
    <script src="{{ url_for('static' , filename='script.js') }}"></script>
  </body>
</html>
